!!!
%html
  %head
    %title Browser JS - Easily retrieve browser version and vendor and other details
  %body
    %script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    %script(src='browser.js')
    %script
      browser = new Browser();
